
main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.7;
  }
  
  p {
    text-align: justify;
    background-color: #e9f0ff;
    padding: 1rem;
    border-left: 4px solid #004080;
  }
  